.section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 1em;
}

.container-title {
    display: flex;
    justify-content: center;
}

.container-form {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 2em 0em;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container-form form input[type="text"],
input[type="email"] {
    width: 500px;
    height: 50px;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 4px;
    border: none;
    border: 1px solid #00000058;
}

textarea {
    width: 500px;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 4px;
    border: none;
    border: 1px solid #00000058;
}

input[type="submit"] {
    background-color: #295e59;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

iframe {
    width: 500px;
}

.container-location {
    font-family: 'Montserrat', sans-serif;
    color: #295e59;
}

.location-std {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
}

.location-std h4 {
    font-size: 20px;
    font-variant: small-caps;
}

.location-std img {
    width: 20px;
}

.location-std ul {
    padding: 1em 0em;
}

.location-std li {
    padding: 10px 0px;
    max-width: 205px;
}

.location-std ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.p-location-std {
    display: flex;
    gap: 5px;
    padding: 10px 0px;
}

@media screen and (max-width: 1270px) {
    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        padding: 2em 0em;
    }

    .container-form form input[type="text"],
    input[type="email"] {
        width: 300px;
        height: 50px;
        padding: 0px 5px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        border-radius: 4px;
        border: none;
        border: 1px solid #00000058;
    }

    textarea {
        width: 300px;
        padding: 0px 5px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        border-radius: 4px;
        border: none;
        border: 1px solid #00000058;
    }

    input[type="submit"] {
        width: 300px;
        background-color: #295e59;
        height: 38px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 4px;
        outline: none;
        border: none;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }

    iframe {
        width: 300px;
    }

    .location-std {
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }
}