.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: justify;
}

.container-text-main-std {
    display: flex;
    align-items: center;
}

.container-text-main-std h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 1em 0em;
}

.container-text-main-std h3 span {
    font-weight: bold;
}

.container-text-main-std p {
    max-width: 300px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container-p-std {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-img-group-std img {
    max-width: 500px;
    width: 100%;
}

.container-button-main-std {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 890px) {
    .container-content-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: justify;
    }
}