.div-background {
    height: 100vh;
    background-image: url(./assets/formulanatural.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-section-std {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding-top: 20em;
    padding-left: 3em;
    padding-right: 3em;
}

.container-section-std h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2.5em;
    border-bottom: 2px solid #fff;
    max-width: 300px;
    margin: 18px 0px;
}

.container-section-std p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    max-width: 800px;
    width: 100%;
    color: #fff;
}

.main-std {
    display: flex;
    padding: 2em;
}

