.div-background {
    height: 100vh;
    background-image: url(./assets/formulanatural.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-section-std {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.container-section-std h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2.5em;
    border-bottom: 2px solid #fff;
    max-width: 300px;
    margin: 18px 0px;
}

.container-section-std p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    max-width: 800px;
    width: 100%;
    color: #fff;
}

.main-std {
    display: flex;
    padding: 2em;
}


/*footer*/
.footer {
    font-family: 'Montserrat', sans-serif;
}

.container-instagram-std {
    display: flex;
    justify-content: center;
}

.instagram-logo {
    width: 50px;
}

.container-instagram-icon {
    display: flex;
    justify-content: center;
    padding: 1em 0em;
}

.container-instagram-router {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.container-instagram-router a {
    text-decoration: none;
    color: #b3b3b3;
}

.container-image-group {
    padding: 0em 4em;
}

.container-image-group img {
    width: 100%;
}

.container-image-group-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .container-image-group {
        display: none;
    }

    .container-image-group-mobile {
        display: flex;
        justify-content: center;
        padding: 1em 2em;
    }

    .container-image-group-mobile img {
        width: 100%;
    }
}

.contacts {
    width: 50%;
}

.container-footer-bottom {
    display: flex;
    align-items: center;
    background-image: url(./assets/servicos-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #f2f7fa;
    font-family: 'Montserrat', sans-serif;
    padding: 7em 0em;
}

.box-left {
    width: 50%;
}

.container-footer-logo-std {
    display: flex;
    justify-content: end;
    border-radius: 0px 20px 20px 0px;
    background-color: #f2f7fa;
    padding: 2em 1em;
    max-width: 500px;
}

.container-footer-logo-std img {
    width: 100%;
}

@media screen and (max-width: 930px) {
    .container-footer-bottom {
        display: grid;
        grid-template-columns: 1fr;
        background-image: url(./assets/servicos-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        color: #f2f7fa;
        font-family: 'Montserrat', sans-serif;
        padding: 3em 0em;
    }
}