.div-background {
    height: 100vh;
    background-image: url(./assets/formulanatural.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-section-std {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding-top: 20em;
    padding-left: 3em;
    padding-right: 3em;
}

.container-section-std h1 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2.5em;
    border-bottom: 2px solid #fff;
    max-width: 300px;
    margin: 18px 0px;
}

.container-section-std p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    max-width: 800px;
    width: 100%;
    color: #fff;
}

.main-std {
    display: flex;
    padding: 2em;
}

.section-services-std {
    background-image: url(./assets/servicos-min.jpg);
    padding: 2em 2em;
    display: flex;
    justify-content: center;
}

.container-boxs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 18px;
    flex-wrap: wrap;
}

.box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 22px;
    padding: 3em;
}

.container-box-icon {
    display: flex;
    justify-content: center;
}

.box-icon img {
    width: 130px;
}

.box-icon p {
    text-align: center;
    max-width: 150px;
}

.services {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0em 0em 2em;
}

.services h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px;
    text-align: center;
}

.container-box-stand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.box-stand {
    display: flex;
    align-items: end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-image: url(./assets/stande.jpg);
    background-size: cover;
    width: 380px;
    height: 290px;
}

.box-stand p {
    background-color: #00000089;
    width: 100%;
    color: #fff;
    padding: 1em 1em;
}

@media screen and (max-width: 1200px) {
    .container-box-stand {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 790px) {
    .container-box-stand {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.section-clients {
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #dce2e2;
}

.section-clients h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.section-clients span {
    font-weight: bold;
}

.boxs-clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.boxs-clients img {
    padding: 1em 0em;
    width: 200px;
}

@media screen and (max-width: 950px) {
    .boxs-clients {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
}

@media screen and (max-width: 710px) {
    .boxs-clients {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media screen and (max-width: 500px) {
    .boxs-clients {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}

.section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 1em;
}

.container-title {
    display: flex;
    justify-content: center;
}

.container-form {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding: 2em 0em;
}

.container-form form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.container-form form input[type="text"], input[type="email"] {
    width: 500px;
    height: 50px;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 4px;
    border: none;
    border: 1px solid #00000058;
}

textarea {
    width: 500px;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 4px;
    border: none;
    border: 1px solid #00000058;
}

input[type="submit"] {
    background-color: #295e59;
    height: 38px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

iframe {
    width: 500px;
}

.container-location {
    font-family: 'Montserrat', sans-serif;
    color: #295e59;
}

.location-std {
    font-size: 13px;
    display: flex;
    justify-content: space-around;
}

.location-std h4 {
    font-size: 20px;
    font-variant: small-caps;
}

.location-std img {
    width: 20px;
}

.location-std ul {
    padding: 1em 0em;
}

.location-std li {
    padding: 10px 0px;
    max-width: 205px;
}

.location-std ul li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.p-location-std {
    display: flex;
    gap: 5px;
    padding: 10px 0px;
}

@media screen and (max-width: 1270px) {
    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        padding: 2em 0em;
    }

    .container-form form input[type="text"], input[type="email"] {
        width: 300px;
        height: 50px;
        padding: 0px 5px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        border-radius: 4px;
        border: none;
        border: 1px solid #00000058;
    }
    
    textarea {
        width: 300px;
        padding: 0px 5px;
        font-family: 'Montserrat', sans-serif;
        outline: none;
        border-radius: 4px;
        border: none;
        border: 1px solid #00000058;
    }
    
    input[type="submit"] {
        width: 300px;
        background-color: #295e59;
        height: 38px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 4px;
        outline: none;
        border: none;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
    }

    iframe {
        width: 300px;
    }

    .location-std {
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }
}